.quick-card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.quick-card h2{

    margin-bottom:20px;

}

.quick-card button{

    width:100%;

    padding:14px;

    margin-bottom:15px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-size:15px;

    transition:.3s;

}

.quick-card button:hover{

    background:#1d4ed8;

}