.payroll-table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

.payroll-table th,
.payroll-table td{
    border:1px solid #ddd;
    padding:12px;
}

.payroll-table th{
    background:#2d63ea;
    color:white;
}